@charset "utf-8";
@mixin w1000($width:1000px) {
    width: $width;
    margin: 0 auto;
}

#main {
    background: #fbfbfb;
}
/*轮播图*/
#slide {
    height: 380px;
    img {
        height: 100%;
        width: 100%;
    }
}
/*限时*/
#time_area {
    @include w1000();
    height: 370px;
    margin-top: 40px;
    background: #fff;
    .time_title {
        height: 47px;
        border-bottom: 1px solid #cfcfcf;
        margin: 0px 23px 0 23px;
        padding-top: 8px;
        ul {
            height: 47px;
            line-height: 47px;
            text-align: center;
            padding-left: 10px;
            position: relative;
            list-style: none;
            @include clearfix();
            li {
                color: #333;
                cursor: pointer;
                float: left;
                font-size: 18px;
                height: 48px;
                position: relative;
                padding: 0 20px;
                z-index: 9;
                line-height: 48px;
            }
            .tv {
                border-radius: 15px;
                color: #fff;
                font-size: 18px;
                height: 27px;
                line-height: 27px;
                width: 99px;
                background: #eb2d58;
                float: left;
                display: block;
                margin-top: 11px;
                i {
                    vertical-align: top;
                    display: inline-block;
                    background: url(../images/icon_list.png) no-repeat -183px -488px;
                    width: 18px;
                    height: 24px;
                }
            }
        }
    }
    .time_content {}
}
/*抢购*/
#grap_area {
    @include w1000();
    margin-top: 40px;
    height: 398px;
    .grap_title {
        border-bottom: 1px solid #c4193f;
        margin-top: 0px;
        width: 100%;
        @include clearfix();
        .qg {
            border: none;
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            float: left;
        }
    }
    .clock {
        float: right;
        height: 37px;
        line-height: 37px;
        margin-top: 9px;
        list-style: none;
        @include clearfix();
        li {
            float: left;
            position: relative;
            height: 37px;
            a {
                padding: 0 12px;
                display: block;
                height: 35px;
                line-height: 35px;
                margin-left: 0px;
                border-right: 2px solid #c4193f;
                border-left: 2px solid #c4193f;
                border-top: 2px solid #c4193f;
                font-size: 14px;
                color: #434343;
            }
        }
    }
}
/*新品推荐*/
#new_area {
    @include w1000();
    margin-top: 40px;    
    .new_title {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #cfcfcf;
        margin-top: 0px;
        height: 40px;
        position: relative;
        .tj {
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            position: absolute;
            bottom: -2px;
            border-bottom: 3px solid #000;
        }
        .return {
            position: absolute;
            right: 10px;
            height: 40px;
            line-height: 40px;
            color: #999999;
            font-size: 16px;
            cursor: pointer;
        }
        .return_ico{
            margin-left: 18px;
            display: inline-block;
            background: url(../images/icon_list.png) -41px -2px;
            width: 20px;
            height: 19px;
            vertical-align: middle;
        }
    }
    .new_content{
        width: 100%;
        padding-top: 20px;
        .new_ul{
           list-style: none; 
           @include clearfix();
           box-sizing: border-box;
           li{
                width: 186px;
                margin-right: 10px;
                height: 274px;
                float: left;    
                padding: 0 0 5px 0;
                background-color: #fff;
                margin-bottom: 15px;
                position: relative;
                border: 3px solid #fbfbfb;
                .a1{
                    display: block;                    
                }
                img{
                    width: 100%;
                }
            }
            .last_li{
               margin-right: 0px; 
            }
            .new_title_a{
                display: block;
                cursor: pointer;
                .p1{
                    padding: 3px 10px 0;
                    color: #999;
                }
                .p2{                    
                    color: #333;
                    padding: 5px 10px 0;
                }                      
            }
            .new_price{
                margin-top: 3px;
                padding: 0 10px;
                @include clearfix();
                .price1{
                    color: #c4193f;    
                    font-size: 22px;
                    float: left;
                    margin-left: -3px;
                }
                .price2{
                    color: #969696;    
                    font-size: 14px;
                    padding: 8px 0 0 10px;
                    float: left;
                    text-decoration: line-through;
                }
            }
        }
    }
}
/*精选活动*/
#act_area {
    @include w1000();    
    margin-top: 40px;    
    .act_title{        
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #cfcfcf;
        margin-top: 0px;
        height: 40px;
        position: relative;
        .act {
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            position: absolute;
            bottom: -2px;
            border-bottom: 3px solid #000;
        }
        
    }
    .act_ul{
        list-style: none;
        @include clearfix();        
        li{            
            float: left;           
            margin: 10px 10px 0 0;            
            img{
                width: 490px;
            }
        }
    }
}
/*个性美妆*/
#beauty_area {
    @include w1000();
    margin-top: 40px;
    height: 780px; 
    @include clearfix();    
    .beauty_title{                
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #cfcfcf;
        margin-top: 0px;
        height: 40px;
        position: relative;
        .beauty {
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            position: absolute;
            bottom: -2px;
            border-bottom: 3px solid #000;
        }        
    }   
    .beauty_ul{
        float: right;
        height: 37px;
        line-height: 37px;
        margin-top: 6px;
        list-style: none;
        li{
            @include left();
            a{
                display: block;
                padding: 0 12px;
                height: 35px;
                line-height: 35px;
                color: #434343;
            }
        }
    } 
}
/*食品健康*/
#food_area {
    @include w1000();
    height: 780px;
    background: green;
}
/*餐厨日用*/
#day_area {
    @include w1000();
    height: 780px;
    background: orange;
}
/*服装配饰*/
#cloth_area {
    @include w1000();
    height: 780px;
    background: blueviolet;
}
/*布艺家纺*/
#home_area {
    @include w1000();
    height: 780px;
    background: green;
}
/*家电数码*/
#household_area {
    @include w1000();
    height: 780px;
    background: blueviolet;
}
/*侧边栏*/
#right_slider {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    background: #444851;
    height: 100%;
    .slider_top {
        position: absolute;
        top: 50%;
        height: 360px;
        margin-top: -270px;
        right: 0;
        width: 40px;
        .st_top {
            margin: 5px 0;
            cursor: pointer;
            &:hover a {
                background: #94193f;
            }
            &:hover .user {
                display: block;
            }
            a {
                display: block;
                padding: 5px 0;
            }
            i {
                display: block;
                background: url(../images/icon_list.png) -190px -413px;
                width: 30px;
                height: 23px;
                margin: 0;
            }
            div {
                padding-top: 5px;
                text-align: center;
                color: #fff;
            }
            .user {
                display: none;
                background: #fff;
                border: 1px solid #f0f0f0;
                position: absolute;
                right: 40px;
                top: -10px;
                width: 289px;
                height: 318px;
            }
        }
        .st_mid {
            @extend .st_top;
            .r_gwc {
                padding: 0 11px;
                width: 17px;
                line-height: 18px;
            }
            i {
                background-position: -76px 0px;
            }
            .num {
                color: #fff;
                background: url(../images/icon_list.png) -84px -65px;
                width: 22px;
                height: 22px;
                text-align: center;
                margin: 14px 9px 0 9px;
            }
        }
        .st_bot {
            @extend .st_top;
            i {
                margin: 0 9px;
                background-position: -83px -188px;
            }
        }
        .line1 {
            display: block;
            width: 100%;
            height: 1px;
            background-color: #2d2e32;
            margin-top: 15px;
        }
        .line2 {
            display: block;
            width: 100%;
            height: 1px;
            background-color: #575a62;
            margin-bottom: 15px;
        }
    }
    .slider_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 191px;
        width: 40px;
        .code {
            margin: 5px 0;
            cursor: pointer;
            position: relative;
            &:hover {
                background: url(../images/icon_list.png) -237px -1px;
            }
            &:hover .pic {
                display: block;
            }
            a {
                height: 42px;
                display: block;
                overflow: hidden;
            }
            .ico {
                display: block;
                background: url(../images/icon_list.png) -170px 0;
                width: 20px;
                height: 20px;
                margin: 10px;
            }
            .pic {
                display: none;
                position: absolute;
                right: 38px;
                bottom: -40px;
                .hid {
                    position: absolute;
                    right: -6px;
                    bottom: 52px;
                    height: 16px;
                    width: 8px;
                    z-index: 55;
                    background: url(../images/icon_list.png) no-repeat -3px -585px;
                }
            }
        }
        .service {
            cursor: pointer;
            position: relative;
            margin: 20px 0;
            a {
                height: 42px;
                display: block;
                overflow: hidden;
            }
            &:hover {
                background-color: #94193f;
            }
            &:hover .s_hid {
                display: block;
            }
            .s_ico {
                background: url(../images/icon_list.png) -170px -58px;
                width: 22px;
                height: 32px;
                margin: 5px 3px 5px 8px;
            }
            .s_hid {
                width: 242px;
                height: 347px;
                position: absolute;
                right: 40px;
                bottom: 0px;
                background: #ccc;
                display: none;
            }
        }
        .up {
            margin: 5px 0;
            cursor: pointer;
            a {
                display: block;
                padding: 5px 0;
            }
            .u_ico {
                display: block;
                background: url(../images/icon_list.png) -83px -252px;
                width: 19px;
                height: 19px;
                margin: 5px 10px;
            }
            .top {
                font-size: 10px;
                color: #fff;
            }
            &:hover {
                background: #94193f;
            }
        }
    }
}
/*头部悬浮*/
#top{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    height: 52px;
    background: url(../images/search_fixed_bg.png) repeat 0 0;
    display: block;
    .w1000{
       @include w1000();
    }    
    .fix_l{
        float: left;
        width: 120px;
        padding-left: 18px;
        padding-top: 5px;
    }
    .fix_r{
        float: left;
        padding-top: 10px;        
        @include clearfix();  
        input{
            width: 650px;
            border: 1px solid #fff;
            height: 19px;
            padding: 5px 0 5px 5px;
            float: left;                      
        }
        button{
            border: 1px solid #c41f3a;
            background-color: #c41f3a;
            width: 90px;
            height: 31px;
            line-height: 26px;
            display: block;
            float: left;
            color: #fff;
            font-size: 16px;
        }
    }
}
/*左侧楼梯*/
#left_slider{    
    color: #000;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 92px;    
    margin-left: -600px;
    background-color: #fff;
    border: 1px solid #e7e6e6;
    border-radius: 5px;
    ul{
        list-style: none;
        padding: 10px 8px;
        @include clearfix();
        li{
            @include left();
            margin-bottom: 10px;
            border-bottom: 1px solid #e5e5e5;
            height: 23px;
            line-height: 23px;
            cursor: pointer;
            padding-bottom: 10px;
            i{
                vertical-align: middle;
                margin-right: 5px;
                display: inline-block;
                background: url(../images/type_icon.png) no-repeat 0 0;
                width: 18px;
                height: 18px;
            }
        }
    }
}
