@charset "UTF-8";
* {
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0; }

#header {
  background: #fff; }
  #header .header_top {
    line-height: 36px;
    background: #fafafa; }
  #header .w1000 {
    width: 1000px;
    margin: 0 auto;
    color: #8c8c8c; }
    #header .w1000:after {
      content: " ";
      display: table;
      clear: both; }
    #header .w1000 .header_top_left {
      float: left; }
      #header .w1000 .header_top_left a {
        color: #8c8c8c;
        padding: 0 10px 0 20px; }
    #header .w1000 .header_top_right {
      float: right; }
      #header .w1000 .header_top_right li {
        float: left;
        list-style: none; }
        #header .w1000 .header_top_right li a {
          padding: 0 10px;
          color: #8c8c8c; }
        #header .w1000 .header_top_right li .line {
          background: #dfdfdf none repeat scroll 0 0;
          height: 14px;
          overflow: hidden;
          padding: 0;
          width: 1px;
          display: inline-block;
          vertical-align: middle; }
  #header .header_mid {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 19px; }
    #header .header_mid:after {
      content: " ";
      display: table;
      clear: both; }
    #header .header_mid .logo {
      float: left;
      margin-left: 7px; }
      #header .header_mid .logo img {
        width: 58px; }
    #header .header_mid .bz {
      float: left;
      margin-right: 10px;
      padding-top: 18px; }
      #header .header_mid .bz img {
        width: 438px; }
    #header .header_mid .search {
      float: left;
      margin-top: 5px; }
      #header .header_mid .search .s_input {
        height: 35px;
        border: 3px solid #94193f; }
        #header .header_mid .search .s_input .sch {
          border: none;
          float: left;
          height: 19px;
          padding: 8px 0;
          width: 300px; }
        #header .header_mid .search .s_input .btn {
          width: 50px;
          cursor: pointer;
          background-color: #94193f;
          border: none;
          color: #fff;
          float: left;
          height: 35px; }
      #header .header_mid .search .keyword {
        margin-top: 4px; }
        #header .header_mid .search .keyword ul {
          list-style: none; }
          #header .header_mid .search .keyword ul:after {
            content: " ";
            display: table;
            clear: both; }
          #header .header_mid .search .keyword ul li {
            float: left;
            color: #8c8c8c;
            line-height: 26px;
            padding-left: 5px; }
    #header .header_mid .gwc {
      margin-top: 5px;
      float: right;
      width: 110px; }
      #header .header_mid .gwc .car {
        display: block;
        border: 1px solid #d8d8d8;
        height: 39px;
        text-align: center;
        line-height: 39px;
        cursor: pointer;
        background-color: #f9f9f9; }
        #header .header_mid .gwc .car span {
          color: #666; }
  #header .header_fot {
    border-bottom: 2px solid #94193f; }
    #header .header_fot .w1000 {
      width: 1000px;
      margin: 0 auto; }
  #header .nav {
    list-style: none; }
    #header .nav:after {
      content: " ";
      display: table;
      clear: both; }
    #header .nav li {
      float: left;
      padding: 0 30px;
      height: 39px;
      line-height: 39px; }
      #header .nav li a {
        color: #94193f;
        font-weight: bold;
        font-size: 16px; }
    #header .nav .all {
      width: 215px;
      padding: 0;
      text-align: center;
      background-color: #94193f; }
      #header .nav .all a {
        color: #fff;
        font-weight: bold;
        font-size: 16px; }
      #header .nav .all:hover .type {
        display: block; }
        #header .nav .all:hover .type:hover .tul {
          display: block; }
    #header .nav .type {
      display: none;
      width: 215px;
      height: 380px;
      position: relative;
      background: url(../images/index_type_bg.png?v=1); }
      #header .nav .type ul {
        font-size: 14px;
        padding-top: 5px;
        list-style: none;
        height: 310px; }
        #header .nav .type ul:after {
          content: " ";
          display: table;
          clear: both; }
        #header .nav .type ul li {
          height: 35px;
          line-height: 35px;
          color: #333;
          font-size: 14px;
          margin: 15px auto 0;
          width: 160px;
          padding-left: 55px;
          text-align: left; }
          #header .nav .type ul li .icon {
            vertical-align: middle;
            margin-right: 5px;
            display: inline-block;
            background: url(../images/type_icon.png) no-repeat;
            width: 18px;
            height: 18px; }
          #header .nav .type ul li .position {
            background-position: 0px -421px; }
          #header .nav .type ul li:hover {
            background: #fff; }
          #header .nav .type ul li:hover i {
            background-position: -80px -421px; }
      #header .nav .type .tul {
        display: none;
        position: absolute;
        left: 215px;
        width: 370px;
        background-color: #fff;
        padding: 20px 0 10px 15px;
        top: 0px;
        height: 380px; }
        #header .nav .type .tul:after {
          content: " ";
          display: table;
          clear: both; }
        #header .nav .type .tul li {
          width: 81px;
          float: left;
          padding: 0;
          margin: 0 0 10px 0;
          text-align: left;
          padding-right: 10px;
          height: 24px;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden; }
          #header .nav .type .tul li:hover a {
            background-color: #94193f; }
          #header .nav .type .tul li:hover i {
            background-color: #94193f; }
        #header .nav .type .tul a {
          padding-left: 8px;
          color: #fff;
          font-size: 12px;
          background-color: #9b9093;
          display: block; }
        #header .nav .type .tul i {
          display: inline-block;
          background-color: #837679;
          width: 19px;
          text-align: center;
          margin-left: 6px; }

#main {
  background: #fbfbfb; }

/*轮播图*/
#slide {
  height: 380px; }
  #slide img {
    height: 100%;
    width: 100%; }

/*限时*/
#time_area {
  width: 1000px;
  margin: 0 auto;
  height: 370px;
  margin-top: 40px;
  background: #fff; }
  #time_area .time_title {
    height: 47px;
    border-bottom: 1px solid #cfcfcf;
    margin: 0px 23px 0 23px;
    padding-top: 8px; }
    #time_area .time_title ul {
      height: 47px;
      line-height: 47px;
      text-align: center;
      padding-left: 10px;
      position: relative;
      list-style: none; }
      #time_area .time_title ul:after {
        content: " ";
        display: table;
        clear: both; }
      #time_area .time_title ul li {
        color: #333;
        cursor: pointer;
        float: left;
        font-size: 18px;
        height: 48px;
        position: relative;
        padding: 0 20px;
        z-index: 9;
        line-height: 48px; }
      #time_area .time_title ul .tv {
        border-radius: 15px;
        color: #fff;
        font-size: 18px;
        height: 27px;
        line-height: 27px;
        width: 99px;
        background: #eb2d58;
        float: left;
        display: block;
        margin-top: 11px; }
        #time_area .time_title ul .tv i {
          vertical-align: top;
          display: inline-block;
          background: url(../images/icon_list.png) no-repeat -183px -488px;
          width: 18px;
          height: 24px; }

/*抢购*/
#grap_area {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  height: 398px; }
  #grap_area .grap_title {
    border-bottom: 1px solid #c4193f;
    margin-top: 0px;
    width: 100%; }
    #grap_area .grap_title:after {
      content: " ";
      display: table;
      clear: both; }
    #grap_area .grap_title .qg {
      border: none;
      font-size: 28px;
      padding-bottom: 4px;
      color: #333333;
      float: left; }
  #grap_area .clock {
    float: right;
    height: 37px;
    line-height: 37px;
    margin-top: 9px;
    list-style: none; }
    #grap_area .clock:after {
      content: " ";
      display: table;
      clear: both; }
    #grap_area .clock li {
      float: left;
      position: relative;
      height: 37px; }
      #grap_area .clock li a {
        padding: 0 12px;
        display: block;
        height: 35px;
        line-height: 35px;
        margin-left: 0px;
        border-right: 2px solid #c4193f;
        border-left: 2px solid #c4193f;
        border-top: 2px solid #c4193f;
        font-size: 14px;
        color: #434343; }

/*新品推荐*/
#new_area {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px; }
  #new_area .new_title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 0px;
    height: 40px;
    position: relative; }
    #new_area .new_title .tj {
      font-size: 28px;
      padding-bottom: 4px;
      color: #333333;
      position: absolute;
      bottom: -2px;
      border-bottom: 3px solid #000; }
    #new_area .new_title .return {
      position: absolute;
      right: 10px;
      height: 40px;
      line-height: 40px;
      color: #999999;
      font-size: 16px;
      cursor: pointer; }
    #new_area .new_title .return_ico {
      margin-left: 18px;
      display: inline-block;
      background: url(../images/icon_list.png) -41px -2px;
      width: 20px;
      height: 19px;
      vertical-align: middle; }
  #new_area .new_content {
    width: 100%;
    padding-top: 20px; }
    #new_area .new_content .new_ul {
      list-style: none;
      box-sizing: border-box; }
      #new_area .new_content .new_ul:after {
        content: " ";
        display: table;
        clear: both; }
      #new_area .new_content .new_ul li {
        width: 186px;
        margin-right: 10px;
        height: 274px;
        float: left;
        padding: 0 0 5px 0;
        background-color: #fff;
        margin-bottom: 15px;
        position: relative;
        border: 3px solid #fbfbfb; }
        #new_area .new_content .new_ul li .a1 {
          display: block; }
        #new_area .new_content .new_ul li img {
          width: 100%; }
        #new_area .new_content .new_ul li .new_title_a {
          display: block;
          cursor: pointer; }
          #new_area .new_content .new_ul li .new_title_a .p1 {
            padding: 3px 10px 0;
            color: #999; }
          #new_area .new_content .new_ul li .new_title_a .p2 {
            color: #333;
            padding: 5px 10px 0; }
        #new_area .new_content .new_ul li .new_price {
          margin-top: 3px;
          padding: 0 10px; }
          #new_area .new_content .new_ul li .new_price:after {
            content: " ";
            display: table;
            clear: both; }
          #new_area .new_content .new_ul li .new_price .price1 {
            color: #c4193f;
            font-size: 22px;
            float: left;
            margin-left: -3px; }
          #new_area .new_content .new_ul li .new_price .price2 {
            color: #969696;
            font-size: 14px;
            padding: 8px 0 0 10px;
            float: left;
            text-decoration: line-through; }
      #new_area .new_content .new_ul .last_li {
        margin-right: 0px; }

/*精选活动*/
#act_area {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px; }
  #act_area .act_title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 0px;
    height: 40px;
    position: relative; }
    #act_area .act_title .act {
      font-size: 28px;
      padding-bottom: 4px;
      color: #333333;
      position: absolute;
      bottom: -2px;
      border-bottom: 3px solid #000; }
  #act_area .act_ul {
    list-style: none; }
    #act_area .act_ul:after {
      content: " ";
      display: table;
      clear: both; }
    #act_area .act_ul li {
      float: left;
      margin: 10px 10px 0 0; }
      #act_area .act_ul li img {
        width: 490px; }

/*个性美妆*/
#beauty_area, #food_area, #day_area, #cloth_area, #home_area, #household_area {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  height: 780px; }
  #beauty_area:after, #food_area:after, #day_area:after, #cloth_area:after, #home_area:after, #household_area:after {
    content: " ";
    display: table;
    clear: both; }
  #beauty_area .beauty_title, #food_area .beauty_title, #day_area .beauty_title, #cloth_area .beauty_title, #home_area .beauty_title, #household_area .beauty_title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 0px;
    height: 40px;
    position: relative; }
    #beauty_area .beauty_title .beauty, #food_area .beauty_title .beauty, #day_area .beauty_title .beauty, #cloth_area .beauty_title .beauty, #home_area .beauty_title .beauty, #household_area .beauty_title .beauty {
      font-size: 28px;
      padding-bottom: 4px;
      color: #333333;
      position: absolute;
      bottom: -2px;
      border-bottom: 3px solid #000; }
  #beauty_area .beauty_ul, #food_area .beauty_ul, #day_area .beauty_ul, #cloth_area .beauty_ul, #home_area .beauty_ul, #household_area .beauty_ul {
    float: right;
    height: 37px;
    line-height: 37px;
    margin-top: 6px;
    list-style: none; }
    #beauty_area .beauty_ul li, #food_area .beauty_ul li, #day_area .beauty_ul li, #cloth_area .beauty_ul li, #home_area .beauty_ul li, #household_area .beauty_ul li {
      float: left; }
      #beauty_area .beauty_ul li a, #food_area .beauty_ul li a, #day_area .beauty_ul li a, #cloth_area .beauty_ul li a, #home_area .beauty_ul li a, #household_area .beauty_ul li a {
        display: block;
        padding: 0 12px;
        height: 35px;
        line-height: 35px;
        color: #434343; }
  #beauty_area .beauty_content, #food_area .beauty_content, #day_area .beauty_content, #cloth_area .beauty_content, #home_area .beauty_content, #household_area .beauty_content {
    width: 100%;
    margin-top: 20px;
    list-style: none; }
    #beauty_area .beauty_content:after, #food_area .beauty_content:after, #day_area .beauty_content:after, #cloth_area .beauty_content:after, #home_area .beauty_content:after, #household_area .beauty_content:after {
      content: " ";
      display: table;
      clear: both; }
    #beauty_area .beauty_content .beauty_li, #food_area .beauty_content .beauty_li, #day_area .beauty_content .beauty_li, #cloth_area .beauty_content .beauty_li, #home_area .beauty_content .beauty_li, #household_area .beauty_content .beauty_li {
      width: 186px;
      margin-right: 10px;
      height: 274px;
      float: left;
      padding: 0 0 5px 0;
      background-color: #fff;
      margin-bottom: 15px;
      position: relative;
      border: 3px solid #fbfbfb; }
      #beauty_area .beauty_content .beauty_li .a1, #food_area .beauty_content .beauty_li .a1, #day_area .beauty_content .beauty_li .a1, #cloth_area .beauty_content .beauty_li .a1, #home_area .beauty_content .beauty_li .a1, #household_area .beauty_content .beauty_li .a1 {
        display: block; }
      #beauty_area .beauty_content .beauty_li img, #food_area .beauty_content .beauty_li img, #day_area .beauty_content .beauty_li img, #cloth_area .beauty_content .beauty_li img, #home_area .beauty_content .beauty_li img, #household_area .beauty_content .beauty_li img {
        width: 100%; }
      #beauty_area .beauty_content .beauty_li .new_title_a, #food_area .beauty_content .beauty_li .new_title_a, #day_area .beauty_content .beauty_li .new_title_a, #cloth_area .beauty_content .beauty_li .new_title_a, #home_area .beauty_content .beauty_li .new_title_a, #household_area .beauty_content .beauty_li .new_title_a {
        display: block;
        cursor: pointer; }
        #beauty_area .beauty_content .beauty_li .new_title_a .p1, #food_area .beauty_content .beauty_li .new_title_a .p1, #day_area .beauty_content .beauty_li .new_title_a .p1, #cloth_area .beauty_content .beauty_li .new_title_a .p1, #home_area .beauty_content .beauty_li .new_title_a .p1, #household_area .beauty_content .beauty_li .new_title_a .p1 {
          padding: 3px 10px 0;
          color: #999; }
        #beauty_area .beauty_content .beauty_li .new_title_a .p2, #food_area .beauty_content .beauty_li .new_title_a .p2, #day_area .beauty_content .beauty_li .new_title_a .p2, #cloth_area .beauty_content .beauty_li .new_title_a .p2, #home_area .beauty_content .beauty_li .new_title_a .p2, #household_area .beauty_content .beauty_li .new_title_a .p2 {
          color: #333;
          padding: 5px 10px 0; }
      #beauty_area .beauty_content .beauty_li .new_price, #food_area .beauty_content .beauty_li .new_price, #day_area .beauty_content .beauty_li .new_price, #cloth_area .beauty_content .beauty_li .new_price, #home_area .beauty_content .beauty_li .new_price, #household_area .beauty_content .beauty_li .new_price {
        margin-top: 3px;
        padding: 0 10px; }
        #beauty_area .beauty_content .beauty_li .new_price:after, #food_area .beauty_content .beauty_li .new_price:after, #day_area .beauty_content .beauty_li .new_price:after, #cloth_area .beauty_content .beauty_li .new_price:after, #home_area .beauty_content .beauty_li .new_price:after, #household_area .beauty_content .beauty_li .new_price:after {
          content: " ";
          display: table;
          clear: both; }
        #beauty_area .beauty_content .beauty_li .new_price .price1, #food_area .beauty_content .beauty_li .new_price .price1, #day_area .beauty_content .beauty_li .new_price .price1, #cloth_area .beauty_content .beauty_li .new_price .price1, #home_area .beauty_content .beauty_li .new_price .price1, #household_area .beauty_content .beauty_li .new_price .price1 {
          color: #c4193f;
          font-size: 22px;
          float: left;
          margin-left: -3px; }
        #beauty_area .beauty_content .beauty_li .new_price .price2, #food_area .beauty_content .beauty_li .new_price .price2, #day_area .beauty_content .beauty_li .new_price .price2, #cloth_area .beauty_content .beauty_li .new_price .price2, #home_area .beauty_content .beauty_li .new_price .price2, #household_area .beauty_content .beauty_li .new_price .price2 {
          color: #969696;
          font-size: 14px;
          padding: 8px 0 0 10px;
          float: left;
          text-decoration: line-through; }
    #beauty_area .beauty_content .last_li, #food_area .beauty_content .last_li, #day_area .beauty_content .last_li, #cloth_area .beauty_content .last_li, #home_area .beauty_content .last_li, #household_area .beauty_content .last_li {
      margin-right: 0px; }
  #beauty_area .li_img, #food_area .li_img, #day_area .li_img, #cloth_area .li_img, #home_area .li_img, #household_area .li_img {
    width: 584px;
    height: 274px;
    float: left;
    padding: 3px 0 0 0;
    margin-right: 10px; }
    #beauty_area .li_img img, #food_area .li_img img, #day_area .li_img img, #cloth_area .li_img img, #home_area .li_img img, #household_area .li_img img {
      width: 100%; }
  #beauty_area .gg, #food_area .gg, #day_area .gg, #cloth_area .gg, #home_area .gg, #household_area .gg {
    width: 100%;
    height: 111px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: relative; }
    #beauty_area .gg:after, #food_area .gg:after, #day_area .gg:after, #cloth_area .gg:after, #home_area .gg:after, #household_area .gg:after {
      content: " ";
      display: table;
      clear: both; }
    #beauty_area .gg span, #food_area .gg span, #day_area .gg span, #cloth_area .gg span, #home_area .gg span, #household_area .gg span {
      width: 96px;
      text-align: left;
      line-height: 111px;
      display: block;
      float: left;
      color: #333333;
      font-size: 16px;
      padding-left: 30px; }
    #beauty_area .gg ul, #food_area .gg ul, #day_area .gg ul, #cloth_area .gg ul, #home_area .gg ul, #household_area .gg ul {
      list-style: none;
      float: left;
      margin: 15px 0;
      width: 860px; }
      #beauty_area .gg ul li, #food_area .gg ul li, #day_area .gg ul li, #cloth_area .gg ul li, #home_area .gg ul li, #household_area .gg ul li {
        float: left;
        padding: 0 7px;
        height: 80px;
        display: block;
        width: 80px;
        overflow: hidden; }
        #beauty_area .gg ul li img, #food_area .gg ul li img, #day_area .gg ul li img, #cloth_area .gg ul li img, #home_area .gg ul li img, #household_area .gg ul li img {
          width: 100%; }

/*食品健康*/
#food_area .gg {
  width: 100%;
  height: 111px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative; }
  #food_area .gg:after {
    content: " ";
    display: table;
    clear: both; }
  #food_area .gg span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  #food_area .gg ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    width: 860px; }
    #food_area .gg ul li {
      float: left;
      padding: 0 7px;
      height: 80px;
      display: block;
      width: 80px;
      overflow: hidden; }
      #food_area .gg ul li img {
        width: 100%; }

/*餐厨日用*/
#day_area .gg {
  width: 100%;
  height: 111px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative; }
  #day_area .gg:after {
    content: " ";
    display: table;
    clear: both; }
  #day_area .gg span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  #day_area .gg ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    width: 860px; }
    #day_area .gg ul li {
      float: left;
      padding: 0 7px;
      height: 80px;
      display: block;
      width: 80px;
      overflow: hidden; }
      #day_area .gg ul li img {
        width: 100%; }

/*服装配饰*/
#cloth_area .gg {
  width: 100%;
  height: 111px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative; }
  #cloth_area .gg:after {
    content: " ";
    display: table;
    clear: both; }
  #cloth_area .gg span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  #cloth_area .gg ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    width: 860px; }
    #cloth_area .gg ul li {
      float: left;
      padding: 0 7px;
      height: 80px;
      display: block;
      width: 80px;
      overflow: hidden; }
      #cloth_area .gg ul li img {
        width: 100%; }

/*布艺家纺*/
#home_area .gg {
  width: 100%;
  height: 111px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative; }
  #home_area .gg:after {
    content: " ";
    display: table;
    clear: both; }
  #home_area .gg span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  #home_area .gg ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    width: 860px; }
    #home_area .gg ul li {
      float: left;
      padding: 0 7px;
      height: 80px;
      display: block;
      width: 80px;
      overflow: hidden; }
      #home_area .gg ul li img {
        width: 100%; }

/*家电数码*/
#household_area .gg {
  width: 100%;
  height: 111px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative; }
  #household_area .gg:after {
    content: " ";
    display: table;
    clear: both; }
  #household_area .gg span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  #household_area .gg ul {
    list-style: none;
    float: left;
    margin: 15px 0;
    width: 860px; }
    #household_area .gg ul li {
      float: left;
      padding: 0 7px;
      height: 80px;
      display: block;
      width: 80px;
      overflow: hidden; }
      #household_area .gg ul li img {
        width: 100%; }

/*侧边栏*/
#right_slider {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  background: #444851;
  height: 100%; }
  #right_slider .slider_top {
    position: absolute;
    top: 50%;
    height: 360px;
    margin-top: -270px;
    right: 0;
    width: 40px; }
    #right_slider .slider_top .st_top, #right_slider .slider_top .st_mid, #right_slider .slider_top .st_bot {
      margin: 5px 0;
      cursor: pointer; }
      #right_slider .slider_top .st_top:hover a, #right_slider .slider_top .st_mid:hover a, #right_slider .slider_top .st_bot:hover a {
        background: #94193f; }
      #right_slider .slider_top .st_top:hover .user, #right_slider .slider_top .st_mid:hover .user, #right_slider .slider_top .st_bot:hover .user {
        display: block; }
      #right_slider .slider_top .st_top a, #right_slider .slider_top .st_mid a, #right_slider .slider_top .st_bot a {
        display: block;
        padding: 5px 0; }
      #right_slider .slider_top .st_top i, #right_slider .slider_top .st_mid i, #right_slider .slider_top .st_bot i {
        display: block;
        background: url(../images/icon_list.png) -190px -413px;
        width: 30px;
        height: 23px;
        margin: 0; }
      #right_slider .slider_top .st_top div, #right_slider .slider_top .st_mid div, #right_slider .slider_top .st_bot div {
        padding-top: 5px;
        text-align: center;
        color: #fff; }
      #right_slider .slider_top .st_top .user, #right_slider .slider_top .st_mid .user, #right_slider .slider_top .st_bot .user {
        display: none;
        background: #fff;
        border: 1px solid #f0f0f0;
        position: absolute;
        right: 40px;
        top: -10px;
        width: 289px;
        height: 318px; }
    #right_slider .slider_top .st_mid .r_gwc {
      padding: 0 11px;
      width: 17px;
      line-height: 18px; }
    #right_slider .slider_top .st_mid i {
      background-position: -76px 0px; }
    #right_slider .slider_top .st_mid .num {
      color: #fff;
      background: url(../images/icon_list.png) -84px -65px;
      width: 22px;
      height: 22px;
      text-align: center;
      margin: 14px 9px 0 9px; }
    #right_slider .slider_top .st_bot i {
      margin: 0 9px;
      background-position: -83px -188px; }
    #right_slider .slider_top .line1 {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #2d2e32;
      margin-top: 15px; }
    #right_slider .slider_top .line2 {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #575a62;
      margin-bottom: 15px; }
  #right_slider .slider_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 191px;
    width: 40px; }
    #right_slider .slider_bottom .code {
      margin: 5px 0;
      cursor: pointer;
      position: relative; }
      #right_slider .slider_bottom .code:hover {
        background: url(../images/icon_list.png) -237px -1px; }
      #right_slider .slider_bottom .code:hover .pic {
        display: block; }
      #right_slider .slider_bottom .code a {
        height: 42px;
        display: block;
        overflow: hidden; }
      #right_slider .slider_bottom .code .ico {
        display: block;
        background: url(../images/icon_list.png) -170px 0;
        width: 20px;
        height: 20px;
        margin: 10px; }
      #right_slider .slider_bottom .code .pic {
        display: none;
        position: absolute;
        right: 38px;
        bottom: -40px; }
        #right_slider .slider_bottom .code .pic .hid {
          position: absolute;
          right: -6px;
          bottom: 52px;
          height: 16px;
          width: 8px;
          z-index: 55;
          background: url(../images/icon_list.png) no-repeat -3px -585px; }
    #right_slider .slider_bottom .service {
      cursor: pointer;
      position: relative;
      margin: 20px 0; }
      #right_slider .slider_bottom .service a {
        height: 42px;
        display: block;
        overflow: hidden; }
      #right_slider .slider_bottom .service:hover {
        background-color: #94193f; }
      #right_slider .slider_bottom .service:hover .s_hid {
        display: block; }
      #right_slider .slider_bottom .service .s_ico {
        background: url(../images/icon_list.png) -170px -58px;
        width: 22px;
        height: 32px;
        margin: 5px 3px 5px 8px; }
      #right_slider .slider_bottom .service .s_hid {
        width: 242px;
        height: 347px;
        position: absolute;
        right: 40px;
        bottom: 0px;
        background: #ccc;
        display: none; }
    #right_slider .slider_bottom .up {
      margin: 5px 0;
      cursor: pointer; }
      #right_slider .slider_bottom .up a {
        display: block;
        padding: 5px 0; }
      #right_slider .slider_bottom .up .u_ico {
        display: block;
        background: url(../images/icon_list.png) -83px -252px;
        width: 19px;
        height: 19px;
        margin: 5px 10px; }
      #right_slider .slider_bottom .up .top {
        font-size: 10px;
        color: #fff; }
      #right_slider .slider_bottom .up:hover {
        background: #94193f; }

/*头部悬浮*/
#top {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  height: 52px;
  background: url(../images/search_fixed_bg.png) repeat 0 0;
  display: block; }
  #top .w1000 {
    width: 1000px;
    margin: 0 auto; }
  #top .fix_l {
    float: left;
    width: 120px;
    padding-left: 18px;
    padding-top: 5px; }
  #top .fix_r {
    float: left;
    padding-top: 10px; }
    #top .fix_r:after {
      content: " ";
      display: table;
      clear: both; }
    #top .fix_r input {
      width: 650px;
      border: 1px solid #fff;
      height: 19px;
      padding: 5px 0 5px 5px;
      float: left; }
    #top .fix_r button {
      border: 1px solid #c41f3a;
      background-color: #c41f3a;
      width: 90px;
      height: 31px;
      line-height: 26px;
      display: block;
      float: left;
      color: #fff;
      font-size: 16px; }

/*左侧楼梯*/
#left_slider {
  color: #000;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 92px;
  margin-left: -600px;
  background-color: #fff;
  border: 1px solid #e7e6e6;
  border-radius: 5px; }
  #left_slider ul {
    list-style: none;
    padding: 10px 8px; }
    #left_slider ul:after {
      content: " ";
      display: table;
      clear: both; }
    #left_slider ul li {
      float: left;
      margin-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      height: 23px;
      line-height: 23px;
      cursor: pointer;
      padding-bottom: 10px; }
      #left_slider ul li i {
        vertical-align: middle;
        margin-right: 5px;
        display: inline-block;
        background: url(../images/type_icon.png) no-repeat 0 0;
        width: 18px;
        height: 18px; }

#footer {
  height: 600px;
  background: #fff;
  margin-top: 25px; }
  #footer .w1000 {
    width: 1000px;
    margin: 0 auto; }
    #footer .w1000:after {
      content: " ";
      display: table;
      clear: both; }
    #footer .w1000 .icon {
      border-bottom: 1px solid #d7d7d7; }
      #footer .w1000 .icon img {
        width: 1000px; }
    #footer .w1000 .help {
      padding-top: 40px;
      width: 1000px; }
      #footer .w1000 .help .h_left {
        width: 760px;
        float: left; }
        #footer .w1000 .help .h_left:after {
          content: " ";
          display: table;
          clear: both; }
        #footer .w1000 .help .h_left dl {
          float: left;
          padding: 0 47px 0 40px; }
          #footer .w1000 .help .h_left dl h5 {
            font-size: 14px;
            height: 31px;
            color: #666666; }
          #footer .w1000 .help .h_left dl dd a {
            color: #666;
            font-size: 12px;
            height: 22px;
            line-height: 22px; }
      #footer .w1000 .help .h_right {
        float: left;
        width: 240px; }
        #footer .w1000 .help .h_right ul {
          list-style: none; }
          #footer .w1000 .help .h_right ul:after {
            content: " ";
            display: table;
            clear: both; }
          #footer .w1000 .help .h_right ul li {
            float: left;
            width: 100px;
            margin-right: 20px;
            text-align: center; }
  #footer .nav {
    margin-top: 45px;
    border-bottom: 4px solid #a90202; }
  #footer .w720 {
    width: 720px;
    margin: 0 auto;
    text-align: center; }
    #footer .w720 ul {
      list-style: none;
      padding-left: 150px; }
      #footer .w720 ul:after {
        content: " ";
        display: table;
        clear: both; }
      #footer .w720 ul li {
        float: left;
        height: 35px;
        line-height: 35px;
        padding-right: 12px; }
        #footer .w720 ul li a {
          font-size: 12px;
          color: #666666; }
  #footer .bot_top {
    padding-top: 10px;
    text-align: center;
    color: #7e7e7e;
    line-height: 25px; }
  #footer .bot_bot {
    padding: 30px 0 40px 0;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
