@charset "UTF-8";
* {
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}

#g_header_top {
  line-height: 36px;
  background: #fafafa;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.w1000 {
  width: 1200px;
  margin: 0 auto;
  color: #8c8c8c;
}
.w1000:after {
  content: " ";
  display: table;
  clear: both;
}
.w1000 .header_top_left {
  float: left;
}
.w1000 .header_top_left a {
  color: #8c8c8c;
  padding: 0 10px 0 20px;
}
.w1000 .header_top_right {
  float: right;
}
.w1000 .header_top_right li {
  float: left;
  list-style: none;
}
.w1000 .header_top_right li a {
  padding: 0 10px;
  color: #8c8c8c;
}
.w1000 .header_top_right li .line {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}
.w1000 .header_top_right .tel_icon {
  background: url(../images/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  margin: 0 4px 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.w1000 .header_top_right .i_down {
  background: url(../images/icon_list.png) no-repeat scroll -157px -696px;
  height: 6px;
  width: 10px;
  margin-left: 5px;
  display: inline-block;
}

#g_logo {
  border-bottom: 2px solid #e6e6e5;
  background: #fff;
}
#g_logo .w1000 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 19px;
}
#g_logo .g_left {
  float: left;
  width: 74px;
  margin-right: 7px;
}
#g_logo .g_right {
  float: right;
  position: relative;
  margin-top: 19px;
}
#g_logo .g_right .g_status {
  background: url("http://ecimg.happigo.com/resource/web/images/order_icon_list.png") no-repeat 0 0;
  height: 42px;
  margin-top: 40px;
  width: 415px;
}

#g_main .w1000 {
  margin-top: 30px;
  margin-bottom: 19px;
}
#g_main .good_main {
  display: block;
  width: 700px;
  margin: 0 auto;
  padding: 18px 0;
}
#g_main .good_main:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .good_main img {
  float: left;
}
#g_main .no_goods {
  float: left;
}
#g_main .no_goods .no_goods_t {
  padding-top: 65px;
  font-size: 18px;
  color: #000000;
}
#g_main .no_goods .no_goods_buy {
  margin: 35px 0 0 79px;
  display: block;
  height: 49px;
  width: 190px;
  background-color: #94193f;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 49px;
}
#g_main .goods_main {
  width: 1200px;
  margin: 0 auto;
  display: none;
}
#g_main .goods_main .goods_form {
  margin-top: 20px;
  border: 1px solid #dadada;
  background-color: #efefef;
  height: 35px;
  line-height: 35px;
}
#g_main .goods_main .goods_form:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_form div {
  float: left;
  text-align: center;
}
#g_main .goods_main .goods_form .t_check {
  width: 150px;
  padding-left: 12px;
  text-align: left;
}
#g_main .goods_main .goods_form .t_goodsname {
  width: 400px;
  text-align: left;
}
#g_main .goods_main .goods_form .t_price {
  width: 165px;
}
#g_main .goods_main .goods_form .t_quantity {
  width: 115px;
  padding: 0 50px;
}
#g_main .goods_main .goods_form .t_sum {
  width: 150px;
}
#g_main .goods_main .goods_form .t_action {
  width: 95px;
}
#g_main .goods_main .goods_list:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .shop_h2 {
  padding: 19px 0 10px 12px;
  border-bottom: 2px solid #b2b2b2;
  height: 16px;
}
#g_main .goods_main .goods_list .shop_h2:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .s_allgoods {
  float: left;
}
#g_main .goods_main .goods_list .shop_zy {
  float: left;
  background-color: #e60012;
  padding: 0px 3px;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
}
#g_main .goods_main .goods_list .shopname {
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
  color: #333333;
}
#g_main .goods_main .goods_list .order_tips {
  color: #333;
  float: right;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px 0 0;
}
#g_main .goods_main .goods_list .item_list {
  border-left: 1px solid #fdf4f7;
  border-right: 1px solid #fdf4f7;
  margin-bottom: 20px;
}
#g_main .goods_main .goods_list .item_list .cart_item {
  border-bottom: 1px solid #e5e5e5;
  height: 116px;
  display: none;
}
#g_main .goods_main .goods_list .item_list .cart_item:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .item_list .cart_item .cell {
  float: left;
  padding: 18px 0;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_checkbox {
  padding-top: 57px;
  text-align: center;
  width: 50px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods {
  width: 523px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods .p_img {
  float: left;
  width: 80px;
  height: 80px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods .p_img img {
  width: 100%;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods .p_goodsname {
  float: left;
  margin-left: 12px;
  width: 420px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_goods .p_goodsname a {
  color: #333;
  font-size: 13px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_price {
  width: 165px;
  text-align: center;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_quantity {
  padding-left: 63px;
  width: 100px;
  padding-right: 50px;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_quantity:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_quantity a {
  background: #fff;
  border: 1px solid #e5e5e4;
  color: #999;
  display: block;
  font-size: 20px;
  height: 23px;
  line-height: 21px;
  text-align: center;
  width: 21px;
  font-weight: bold;
  float: left;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_quantity input {
  color: #777;
  background-color: #FFF;
  width: 40px;
  display: inline-block;
  height: 19px;
  padding: 2px 4px;
  border: solid 1px #CCC;
  float: left;
  text-align: center;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_sum {
  width: 150px;
  text-align: center;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_ops {
  width: 95px;
  text-align: center;
}
#g_main .goods_main .goods_list .item_list .cart_item .p_ops a {
  color: #666;
}
#g_main .goods_main .goods_list .list_sum {
  width: 100%;
  border: 1px solid #e5e5e5;
  height: 60px;
}
#g_main .goods_main .goods_list .list_sum:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .list_sum .t_check {
  float: left;
  padding-left: 14px;
  padding-top: 20px;
}
#g_main .goods_main .goods_list .list_sum .list_sum_num {
  float: right;
}
#g_main .goods_main .goods_list .list_sum .list_sum_num:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .goods_main .goods_list .list_sum .list_sum_num div {
  float: left;
}
#g_main .goods_main .goods_list .list_sum .goods_num {
  width: 99px;
  font-size: 13px;
  color: #333;
  line-height: 60px;
}
#g_main .goods_main .goods_list .list_sum .goods_num .sunm {
  font-family: Arial;
  font-size: 18px;
  color: #94193f;
  font-weight: bold;
}
#g_main .goods_main .goods_list .list_sum .goods_sum {
  color: #333;
  font-size: 13px;
  padding-right: 30px;
  line-height: 60px;
}
#g_main .goods_main .goods_list .list_sum .goods_sum .cart_total {
  color: #93193e;
  font-size: 18px;
  font-weight: bold;
}
#g_main .goods_main .goods_list .list_sum .btn_buy {
  background-color: #c41f3a;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 110px;
}
#g_main .goods_main .goods_list .list_sum .btn_buy a {
  color: #fff;
  font-size: 20px;
}
#g_main .guess_h2 {
  width: 100%;
  margin-top: 40px;
  height: 25px;
  line-height: 25px;
  border-bottom: 2px solid #cccccc;
  list-style: none;
}
#g_main .guess_h2:after {
  content: " ";
  display: table;
  clear: both;
}
#g_main .guess_h2 li {
  float: left;
  width: 120px;
  text-align: center;
  color: #93193e;
  border-bottom: 2px solid #93193e;
  font-size: 12px;
}
#g_main .guess_details {
  border: 1px solid #eeeeee;
  margin-top: 20px;
}
#g_main .guess_details .noguess {
  color: #aaa;
  text-align: center;
  padding: 50px 0;
}

/*# sourceMappingURL=cart.css.map */
